<div class="container add-margin-top">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="width: 90%; margin: auto;">
      <div class="form-container form-bg-color" style=" margin-bottom: 100px;">
        <h2 class="form-group text-align-center">Update your information</h2>
        <!-- Display error message if user input bad charaters or leave empty field-->
        <% if flash.has?(:message) %>
          <div style="color:red;" class="text-align-center"><%= flash[:message] %> </div>
        <% end %>

        <div><!-- Edit user's info form-->
          <form action="/users/<%=@user.first_name%>-<%=@user.last_name%>" method="POST">
            <input type="hidden" id="hidden" name="_method" value="PATCH">
            <div class="form-row">
              <div class="form-group col-lg-6">
                <h6>First Name</h6><input type="text" name ="user[first_name]" class="form-control" id="first_name" value="<%=@user.first_name%>">
              </div>
              <div class="form-group col-lg-6">
                <h6>Last Name</h6><input type="text" name ="user[last_name]" class="form-control" id="last_name" value="<%=@user.last_name%>">
              </div>
            </div>
            <div class="form-group">
              <h6>Email</h6><input type="text" name ="user[email]" class="form-control" id="email" value="<%=@user.email%>">
            </div>
            <div class="form-group">
              <h6>Password</h6><input type="password" name ="user[password]" class="form-control" id="password" value="<%=@user.password%>" placeholder="Password">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary form-control" id="Submit">Submit changes</button>
            </div>
          </form>
        </div>
      </div><!-- form container-->
    </div>
  </div><!-- row container-->
</div>
