
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-offset-3">
      <div class="form-container form-bg-color" style=" margin-bottom: 100px;">
      <h2 class="row justify-content-center">Update your information</h2>
      <% if flash.has?(:message) %>
        <div style="color:red;"><%= flash[:message] %> </div>
      <% end %>

      <div >
        <form action="/users/<%=@user.first_name%>-<%=@user.last_name%>" method="POST">
          <input type="hidden" id="hidden" name="_method" value="PATCH">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name ="user[first_name]" class="form-control" id="first_name" value="<%=@user.first_name%>">
            </div>
            <div class="form-group col-md-6">
              <input type="text" name ="user[last_name]" class="form-control" id="last_name" value="<%=@user.last_name%>">
            </div>
          </div>
          <div class="form-group">
            <input type="text" name ="user[email]" class="form-control" id="email" value="<%=@user.email%>">
          </div>
          <div class="form-group">
            <input type="password" name ="user[password]" class="form-control" id="password" value="<%=@user.password%>">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary form-control" id="Submit">Submit changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
