<div class="container">
  <div class="row justify-content-center" style="margin-top: -100px;">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-container form-bg-color" style=" margin-bottom: 120px;">
        <h3 class="row justify-content-center">&emsp;&emsp;&emsp;Update your project&emsp;&emsp;&emsp;</h3>
        <% if flash.has?(:message) %>
          <div style="color:red;"><%= flash[:message] %> </div>
        <% end %>
        <form action="/projects/<%=@project.id%>" method="POST">
          <input type="hidden" id="hidden" name="_method" value="PATCH">


          <div class="form-group">
            <h6>Project Name</h6><input type="text" class="form-control" name="project_name" id="name" value="<%=@project.name%>">
          </div>

          <h6>Model(s)</h6>
          <%@project.models.each_with_index do |model, i|%>

            <div class="form-group">
              <input type="text" class="form-control" name="models[<%=model.id%>]" id="model_names" value="<%=model.name%>">
            </div>
          <%end%>

          <div class="form-group">
            <h6>Description</h6><input type="text" class="form-control" name="description" id="description" value="<%=@project.description%>" maxlength="75">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary form-control" id="Continue">Update Project</button>
          </div>
        </form>
    </div>
  </div>
  </div>
