<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-container">
        <h3 class="form-group">Update your project</h3>
        <form action="/projects/<%=@project.id%>" method="POST">
          <input type="hidden" id="hidden" name="_method" value="PATCH">

          <div class="form-group">
            <input type="text" class="form-control" name="project_name" id="name" value="<%=@project.name%>">
          </div>

          <%@project.models.each_with_index do |model, i|%>
            <div class="form-group">
              <input type="text" class="form-control" name="models[<%=model.id%>]" id="model_names" value="<%=model.name%>">
            </div>
          <%end%>

          <div class="form-group">
            <input type="text" class="form-control" name="description" id="description" value="<%=@project.description%>">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary form-control" id="Continue">Update Project</button>
          </div>
        </form>
    </div>
  </div>
  </div>
