
<div class="container">
    <div>

<h1 class="row justify-content-center">Welcome <%=capitalize_model_name(@user.first_name)%></h1>

<div class="list-group">
  <h2 class="row justify-content-center">Projects</h2>
  <ul style="list-style-type: none;">
    <%Project.all.each do |project|%>
    <li>
      <div class="list-group-item list-group-item-action list-projects-bg">
        <div>
          <h5 style="display: inline-block"><a href="/projects/<%=project.id%>" style="text-decoration:none"><%=project.name%></a></h5><span class="float-right">Date created: <%=project.date_created%></span>
        </div>
        <div>
          <%=project.description%>
        </div>

      </div>
    </li>
    <%end%>
  </ul>

</div>
</div>

</div>

<a href="/logout"><h5>Log Out</h5></a>
