<h1>Hi <%=@user.first_name%></h1>

<h2>Projects</h2>

<div>
  <ul style="list-style-type: none;">
    <%Project.all.each do |project|%>
    <li>
      <div>
        <h3><a href="/projects/<%=project.id%>" style="text-decoration:none"><%=project.name%></a></h3>
      </div>
      <div>
        <%=project.description%>
      </div>
      <div>
        Date created: <%=project.date_created%>
      </div>
    </li>
    <%end%>
  </ul>
</div>


<a href="/logout"><h5>Log Out</h5></a>
