  <h1><%=@project_name%></h1>
  <a href="login">app</a><br>
  <a href="login">controllers</a><br>
  <a href="login">application_controllers.rb</a><br>
  <%@models_hash.each_value do |model_name|%>
        <%=model_name%>s_controller.rb<br>
  <%end%>
      models<br>
  <%@models_hash.each_value do |model_name|%>
        <%=model_name%>.rb<br>
  <%end%>
      views<br>
  <%@models_hash.each_value do |model_name|%>
        <%=model_name%>s folder<br>
        <%=model_name%>s.erb<br>
        show_<%=model_name%>.erb<br>
        edit_<%=model_name%>.erb<br>
  <%end%>
  index.erb<br>
  layout.erb<br>
  config<br>
    environment.rb<br>
  db<br>
  migrate<br>
  <%id=1%>
  <%@models_hash.each_value do |model_name|%>
    00<%=id%>_create_<%=model_name%>s.rb<br>
    <%id+=1%>
  <%end%>
  <a>seeds.rb</a><br>
  config.ru<br>
  Gemfile<br>
  Rakefile<br>

<!-- View Page  -->
