<pre>
  <code>
  <%=@project_name%>
    <a href="login">app</a>
      <a href="login">controllers</a>
        <a href="login">application_controllers.rb</a>
        <%=add_controllers(@models_hash)%>
      models
        <%=add_models(@models_hash)%>
      views
        <%=add_views_folders_and_files(@models_hash)%>
    index.erb
    layout.erb
    config
      environment.rb
    db
      migrate
        <%=create_migration_files(@models_hash)%>
      seeds.rb
    config.ru
    Gemfile
    Rakefile
  <br><br><br><br>
  <!-- View Page  -->
              controllers

class ApplicationController < Sinatra::Base

end

<%=display_controller_classes(@models_hash)%>


              models


<%=display_model_classes(@models_hash)%>


              views
    <br>
    <%@models_hash.each_value do |model_name|%>
      <%=model_name%>s folder<br>
      <%=model_name%>s.erb<br>
      add html and erb code for viewing the <%=model_name%>s here if you implement it in your project<br><br>
      create_<%=model_name%>.erb<br>
      add html and erb code for create_<%=model_name%> here <br><br>
      edit_<%=model_name%>.erb<br>
      add html and erb code for edit_<%=model_name%> here <br><br>
      show_<%=model_name%>.erb<br>
      add html and erb code for show_<%=model_name%> here <br><br>
    <%end%>
    <br>
    <br>

    index <br>
      add html and erb code for your index/home page goes here <br><br>

    layout<br>
    <pre>
    &lt;DOCTYPE html&gt;
    &lt;html&gt;
      &lt;head&gt;
        &lt;title&gt;Sinix&lt;/title&gt;
      &lt;/head&gt;

      &lt;body&gt;
        <%%= yield %>
      &lt;/body&gt;
    &lt;/html&gt;
  </pre>

    config<br>
      environment.rb<br>
      require 'bundler/setup'
      Bundler.require

      ActiveRecord::Base.establish_connection(
        :adapter => "sqlite3",
        :database => "db/development.sqlite"
      )

      require_all 'app'<br>

    db<br>
    migrate<br>

    <%@models_hash.each_value do |model_name|%>
      create_<%=model_name%>s.rb<br>
      class Create<%=capitalize_model_name_with_s_as_last_char(model_name)%> < ActiveRecord::Migration[5.1]<br>
        def change<br>
          create_table :<%=table_name(model_name)%> do |t|<br>
            <br>
          end<br>
        end<br>
      end<br>
    <%end%>
    <a>seeds.rb</a><br>

    config.ru<br>
    Gemfile<br>
    Rakefile<br>

  </code>
  </pre>
